@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ECEFF1; /* Soft blue-gray background */
    color: #37474F; /* Dark slate gray for text */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #546E7A; /* Darker blue-gray */
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.2px; /* Slight spacing for elegance */
}

h2 {
    text-align: center;
    font-size: 22px;
    color: #78909C; /* Lighter blue-gray */
    font-weight: 300;
    margin-bottom: 15px;
}

h3 {
    color: #607D8B; /* Medium blue-gray */
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

canvas {
    display: block;
    border: solid #B0BEC5 1px; /* Light blue-gray border */
    box-shadow: 0 2px 4px rgba(120, 144, 156, 0.5); /* Subtle shadow for depth */
    margin: 20px auto;
    background-color: #CFD8DC; /* Very light blue-gray for canvas */
    width: 800px;
    height: 400px;
}
